* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
display: flex;
justify-content: center;
align-items: center;
height: 600px;

}

.calculator {
    border-radius: 20px;
    width: 250px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    background-color: whitesmoke;
}

.logo {
    font-family: Seven Segment, sans-serif;
    line-height: 3;
}

.results {
    background-color: black;
    color: green;
    line-height: 2;
    font-family: Seven Segment, sans-serif;
    text-align: end;
    padding-right: 10px;
}

.buttons {
    height: 250px;
    background-color: blue;
    display: flex;
    padding: 20px;
}

.numeri {
    height: 190px;
    background-color: gold;
    width: 150px;
}

.operazioni {
    height: 190px;
    background-color: blueviolet;
    width: 70px;
}