* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
display: flex;
justify-content: center;
align-items: center;
height: 600px;

}

.calculator {
   border-radius: 20px;
    width: 250px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.logo {
    font-family: Seven Segment, sans-serif;
    line-height: 3;
}

.results {
    height: 70px;
    background-color: black;
}

.buttons {
    height: 200px;
    background-color: blue;
}